.hand{
  cursor:pointer;
}
.action-group{
  margin-top: 30px;
}
.action-group button{
  height: 40px;
}
.auth-modal-inner{
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}
.auth-modal{
  width: 350px;
  padding: 20px;
  margin-top: 10px;
}
.logo {
  padding: 100px 0px;
  width:150px;
  height:150px;
}
.create-account-callout {
  margin-top: 15px;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}
