a {
  color: inherit;
}
.navbar {
  position: fixed;
  top: 0;
  padding: 0 15px;
  z-index: 30;
  width: 100%;
  max-height: 100%;
  background: #222;
  color: #fff;
  min-height: 50px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-title {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -73px;
  a {
    display: inline-block;
  }
  .anchor {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
    text-decoration: none;
    background: url(https://static.pexels.com/assets/pexels-sm-7627e30869d1427acc013a27df1995c0a02c4122903e4831e3ed95a31469449d.png) no-repeat 50% 50%;
    background-size: auto 21px;
    height: 50px;
    width: 146px;
  }
}
.navbar-list {
  margin: 0;
  line-height: 50px;
  font-size: 14px;
  a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
  }
  li {
    margin: 0;
    color: #ddd;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
